<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
		"-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clean.platform.disorder.mapper.TbCompanyMapper">

	<resultMap id="BaseResultMap" type="clean.platform.disorder.model.entity.TbCompany">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="company_code" property="companyCode" jdbcType="VARCHAR" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="cuscc" property="cuscc" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="SMALLINT" />
		<result column="contact" property="contact" jdbcType="VARCHAR" />
		<result column="contact_tel" property="contactTel" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="SMALLINT" />
		<result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser" jdbcType="BIGINT" />
	</resultMap>

	<sql id="Base_Column_List">
		id, company_code, company_name, cuscc, status, contact, contact_tel, address, level, is_delete, create_time, create_user, update_time, update_user
	</sql>

	<!-- 根据pk查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_comptb_companyany
		WHERE id = #{id, jdbcType=BIGINT}
	</select>

	<!-- 根据pk删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		DELETE FROM tb_company
		WHERE id = #{id, jdbcType=BIGINT}
	</delete>

	<!-- 新增 -->
	<insert id="insert" parameterType="clean.platform.disorder.model.entity.TbCompany">
		INSERT INTO tb_company
		(id,company_code, company_name, cuscc, status, contact, contact_tel, address, level, is_delete, create_time, create_user, update_time, update_user)
		VALUES (#{id},#{companyCode, jdbcType=VARCHAR}, #{companyName, jdbcType=VARCHAR},
		#{cuscc, jdbcType=VARCHAR}, #{status, jdbcType=SMALLINT},
		#{contact, jdbcType=VARCHAR}, #{contactTel, jdbcType=VARCHAR},
		#{address, jdbcType=VARCHAR}, #{level, jdbcType=SMALLINT},
		#{isDelete, jdbcType=SMALLINT}, #{createTime, jdbcType=TIMESTAMP},
		#{createUser, jdbcType=VARCHAR}, #{updateTime, jdbcType=TIMESTAMP},
		#{updateUser, jdbcType=BIGINT})
	</insert>

	<!-- 新增 -->
	<insert id="insertSelective" parameterType="clean.platform.disorder.model.entity.TbCompany">
		INSERT INTO tb_company
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="companyCode != null">
				company_code,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="cuscc != null">
				cuscc,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="contact != null">
				contact,
			</if>
			<if test="contactTel != null">
				contact_tel,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=BIGINT},
			</if>
			<if test="companyCode != null">
				#{companyCode,jdbcType=VARCHAR},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="cuscc != null">
				#{cuscc,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=SMALLINT},
			</if>
			<if test="contact != null">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="contactTel != null">
				#{contactTel,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				#{level,jdbcType=SMALLINT},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=SMALLINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

	<!-- 批量新增 -->
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tb_company
		(company_code, company_name, cuscc, status, contact, contact_tel, address, level, is_delete, create_time, create_user, update_time, update_user)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.companyCode, jdbcType=VARCHAR}, #{item.companyName, jdbcType=VARCHAR},
		#{item.cuscc, jdbcType=VARCHAR}, #{item.status, jdbcType=SMALLINT},
		#{item.contact, jdbcType=VARCHAR}, #{item.contactTel, jdbcType=VARCHAR},
		#{item.address, jdbcType=VARCHAR}, #{item.level, jdbcType=SMALLINT},
		#{item.isDelete, jdbcType=SMALLINT}, #{item.createTime, jdbcType=TIMESTAMP},
		#{item.createUser, jdbcType=VARCHAR}, #{item.updateTime, jdbcType=TIMESTAMP},
		#{item.updateUser, jdbcType=BIGINT})
		</foreach>
	</insert>

	<!-- 根据pk更新 -->
	<update id="updateByPrimaryKeySelective" parameterType="clean.platform.disorder.model.entity.TbCompany">
		UPDATE tb_company
		<set>
			<if test="companyCode != null">
				company_code = #{companyCode, jdbcType=VARCHAR},
			</if>
			<if test="companyName != null">
				company_name = #{companyName, jdbcType=VARCHAR},
			</if>
			<if test="cuscc != null">
				cuscc = #{cuscc, jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status, jdbcType=SMALLINT},
			</if>
			<if test="contact != null">
				contact = #{contact, jdbcType=VARCHAR},
			</if>
			<if test="contactTel != null">
				contact_tel = #{contactTel, jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address, jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				level = #{level, jdbcType=SMALLINT},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete, jdbcType=SMALLINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				create_user = #{createUser, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser, jdbcType=BIGINT},
			</if>
		</set>
		WHERE id = #{id, jdbcType=BIGINT}
	</update>

	<!-- 根据pk更新 -->
	<update id="updateByPrimaryKey" parameterType="clean.platform.disorder.model.entity.TbCompany">
		UPDATE tb_company
		set
		company_code = #{companyCode, jdbcType=VARCHAR},
		company_name = #{companyName, jdbcType=VARCHAR},
		cuscc = #{cuscc, jdbcType=VARCHAR},
		status = #{status, jdbcType=SMALLINT},
		contact = #{contact, jdbcType=VARCHAR},
		contact_tel = #{contactTel, jdbcType=VARCHAR},
		address = #{address, jdbcType=VARCHAR},
		level = #{level, jdbcType=SMALLINT},
		is_delete = #{isDelete, jdbcType=SMALLINT},
		create_time = #{createTime, jdbcType=TIMESTAMP},
		create_user = #{createUser, jdbcType=VARCHAR},
		update_time = #{updateTime, jdbcType=TIMESTAMP},
		update_user = #{updateUser, jdbcType=BIGINT}
		WHERE id = #{id, jdbcType=BIGINT}
	</update>

</mapper>
