<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clean.platform.disorder.mapper.TbUserRoleMapper">

	<resultMap id="BaseResultMap" type="clean.platform.disorder.model.entity.TbUserRole">
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="role_id" property="roleId" jdbcType="BIGINT" />
	</resultMap>

	<sql id="Base_Column_List">
		user_id, role_id
	</sql>

	<!-- 根据pk查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_user_role
		WHERE id = #{id, jdbcType=BIGINT}
	</select>

	<!-- 根据pk删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		DELETE FROM tb_user_role
		WHERE user_id = #{id, jdbcType=BIGINT}
	</delete>

	<!-- 新增 -->
	<insert id="insert" parameterType="clean.platform.disorder.model.entity.TbUserRole">
		INSERT INTO tb_user_role
		(user_id, role_id)
		VALUES (#{userId, jdbcType=BIGINT}, #{roleId, jdbcType=BIGINT}
		)
	</insert>

	<!-- 新增 -->
	<insert id="insertSelective" parameterType="clean.platform.disorder.model.entity.TbUserRole">
		INSERT INTO tb_user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

	<!-- 批量新增 -->
	<insert id="insertBatch" parameterType="java.util.List" >
		INSERT INTO tb_user_role
		(user_id, role_id)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">  
		(#{item.userId, jdbcType=BIGINT}, #{item.roleId, jdbcType=BIGINT}
		)
		</foreach>
	</insert>

	<!-- 根据pk更新 -->
	<update id="updateByPrimaryKeySelective" parameterType="clean.platform.disorder.model.entity.TbUserRole">
		UPDATE tb_user_role
		<set>
			<if test="userId != null">
				user_id = #{userId, jdbcType=BIGINT},
			</if>
			<if test="roleId != null">
				role_id = #{roleId, jdbcType=BIGINT},
			</if>
		</set>
		WHERE id = #{id, jdbcType=BIGINT}
	</update>

	<!-- 根据pk更新 -->
	<update id="updateByPrimaryKey" parameterType="clean.platform.disorder.model.entity.TbUserRole">
		UPDATE tb_user_role
		set 
		user_id = #{userId, jdbcType=BIGINT},
		role_id = #{roleId, jdbcType=BIGINT}
		WHERE id = #{id, jdbcType=BIGINT}
	</update>

</mapper>