<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clean.platform.disorder.mapper.extend.TbCompanyItemExtendMapper">

	<sql id="Base_Column_List">
		company_id, item_id, config_id
	</sql>

	<!-- 根据id查询 -->
	<select id="selectByCompanyIdAndItemId" resultType="clean.platform.disorder.model.entity.vo.TbCompanyItemVo">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_company_item
		WHERE company_id = #{companyId, jdbcType=BIGINT} AND item_id = #{itemId, jdbcType=BIGINT}
	</select>

	<select id="selectItemsByCompanyId" parameterType="java.lang.Long"
			resultType="clean.platform.disorder.model.entity.vo.TbServiceItemVo">
		SELECT c.id ,
		c.item_code as itemCode,
		c.item_name as itemName
		from
		tb_company a left join tb_company_item b on a.id = b.company_id
		left join tb_service_item c on b.item_id = c.id
		<where>
           a.id = #{companyId, jdbcType=BIGINT}
			and c.status = 1
		</where>
	</select>

	<!-- 根据vo查询 -->
	<select id="selectByVo" resultType="clean.platform.disorder.model.entity.vo.TbCompanyItemVo"
		parameterType="clean.platform.disorder.model.entity.vo.TbCompanyItemVo">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_company_item
		<where>
			<if test="companyId != null">
				AND company_id = #{companyId, jdbcType=BIGINT}
			</if>
			<if test="itemId != null">
				AND item_id = #{itemId, jdbcType=BIGINT}
			</if>
		</where>
	</select>

	<insert id="insertCompanyItemsBatch" parameterType="java.util.List">
		insert into tb_company_item
		(company_id,item_id,config_id)
		values
		<foreach collection ="list" item="companyItem" index= "index" separator =",">
			(#{companyItem.companyId},#{companyItem.itemId},#{companyItem.configId})
		</foreach>
	</insert>

	<delete id="deleteCompanyItem" parameterType="java.lang.Long">
		delete from tb_company_item where company_id = #{companyId, jdbcType=BIGINT}
	</delete>

</mapper>