<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clean.platform.disorder.mapper.extend.TbUserRoleExtendMapper">

	<sql id="Base_Column_List">
		user_id, role_id
	</sql>

	<!-- 根据id查询 -->
	<select id="selectByPK" resultType="clean.platform.disorder.model.entity.vo.TbUserRoleVo">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_user_role
		WHERE id = #{id, jdbcType=BIGINT}
	</select>

	<!-- 根据vo查询 -->
	<select id="selectByVo" resultType="clean.platform.disorder.model.entity.vo.TbUserRoleVo"
		parameterType="clean.platform.disorder.model.entity.vo.TbUserRoleVo">
		SELECT
		<include refid="Base_Column_List" />
		FROM tb_user_role
		<where>
			<if test="userId != null">
				AND user_id = #{userId, jdbcType=BIGINT}
			</if>
			<if test="roleId != null">
				AND role_id = #{roleId, jdbcType=BIGINT}
			</if>
		</where>
	</select>

</mapper>